@page
@{
    ViewData["Title"] = "Home page";
}


<head>
    <link rel="stylesheet" href="/css/Index.css" />
</head>

<body>
    <h1>
        Hello world!
    </h1>
    <p>
        Welcome to the home page :).
    </p>
</body>