@page
@model RecipePageModel
@{
    ViewData["Title"] = "Recipe page";
}


<body>
    @if (!string.IsNullOrEmpty(Model.Recipe.Title))
    {
    <h1>Current recipe: @Model.Recipe.Title</h1>
    }
</body>