@page
@model SearchResultsModel
@{
    ViewData["Title"] = "Search results";
}


<head>
    <link rel="stylesheet" href="/css/SearchResults.css" />
</head>

<body>
    <h1>
        Welcome to search results!
    </h1>
    @if (!string.IsNullOrEmpty(Model.SearchInput))
    {
    <p>Search input: @Model.SearchInput</p>
    }
    @foreach(var recipe in Model.RecipeList){
        <a asp-area="" asp-page="RecipePage">@recipe.Title</a>
    }
</body>
<footer>
    <a asp-area="" asp-page="/Index">To main menu</a>
</footer>